
.portfolio__container {
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
}

.portfolio__item {
    /* height: 550px; */
    background: var(--color-bg-variant);
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.portfolio__item:hover {
    border-color: var(--color-primary-variant);
    background: transparent;
}

.portfolio__item-image {
    border-radius: 1.5rem;
    overflow: hidden;
    height: 50%;
    margin-bottom: 6px;
}



.portfolio__item p {
    margin: 8px;
    margin-bottom: 10px;
    font-size: 0.9rem;
}

.portfolio__item-cta {
    display: flex;
    gap: 2rem;
    margin-bottom:10px
    /* margin-bottom: 40px; */
   
}

/* .portfolio__item-content {
    height: 50%;
} */

@media screen and (max-width: 1024px){
    .portfolio__container {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
}
  
@media screen and (max-width: 600px){
    .portfolio__container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}